<footer id="footer">
    <div class="site-footer">
        <div class="foot-section">
            <h4>Support</h4>
            <ul class="sup-port">
                <li class="mail">
                    <a href="mailto:dubemagbakoba@icloud.com"> dubemagbakoba@icloud.com                                
                    </a>
                </li>
                <li class="num">
                    <a href="#">0811 593 8437</a>
                </li>
            </ul>
        </div>
        <div class="foot-section">
            <h4>Locations</h4>
            <ul class="sup">
                <li class="line">
                    <p>Line 18d Lerija Street, pecan, Newark</p>
                </li>
                <li class="line">
                    <p>Line 18d Lerija Street, pecan, Vegas</p>
                </li>
                <li class="line">
                    <p>Line 18d Lerija Street, pecan, TechQuest Avenue, Ikoyi</p>
                </li>
            </ul>
        </div>
        <div class="foot-section">
            <h4>Follow Us</h4>
            <ul class="social-links">
                <li class="insta">
                    <a href="https://instagram.com/dubem.a.s?igshid=YmMyMTA2M2Y="> Instagram</a>
                </li>
            </ul>
        </div>
        <div class="foot-section using-sec">
            <h4>Useful Links</h4>
            <li> 
                <a class="usefulbtn" href="Terms and Conditions">Terms and Conditions</a>
            </li>
            <li> 
                <a class="usefulbtn" href="Contact Us">Contact Us</a>
            </li>
        </div>
    </div>
        <div class="site-info">
            <p>
                Design By Agbado for Dubem Agbakoba</a>
            </p>
        </div>
    </div>
    
</footer>
</body>
</html>