<%- include('partials/header') %>
<section>
    <div>
        <!-- <div>
            <h3>Dees Restaurant</h3>
        </div> -->
        <div class="site-content">
            <div class="dining-imgs">
                <div class="bar-img>">
                    <img class="kitimg" src="https://images.unsplash.com/photo-1543007630-9710e4a00a20?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YmFyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60">
                </div>
                <div class="resturant-img">
                    <img class="kitimg" src="https://images.unsplash.com/photo-1563567930343-7f24fd8766dc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHJlc3R1cmFudHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60">
                </div>
            </div>
            <div class="page-content">
                <h1 class="dine"> DINING</h1>
                <p> The elegant restaurant entices guest to enjoy dishes from a menu of traditional and continental cuisine. The glamorous bar offers classic and innovative cocktails with an assortment of bar snacks.</p>
            </div>

        </div>
    </div>
</section>
<%- include('partials/footer') %>
